$layout_color: #e64645;
$animation_color: #D2AF10;

.main_btn, .back_to_home, .copyright_footer, .newsletter_btn, .flex-control-paging li a.flex-active, .store_nav a.active_store_nav:after, .store_nav a:hover:after, .store_initial, .details_header, .back_to_list, .back_to_list:hover, .back_to_list:focus, .mobile_menu_dd, #mm_page_content h2{
    background: $layout_color;
}

.newsletter_control:focus{
    border-color: $layout_color;
}

.view_more_btn, .colored_link, .colored_link a, #mm_page_content h1, .mobile_menu li a{
    color: $layout_color;
}

.animated_btn:before{
    background: $animation_color;
}

.stores_banner{
    background-image: url(http://assets.codecloudapp.com/sites/574dc4206e6f64350c000000/image/jpeg/undefined/cstc_1920x150_banner_directory.jpg);
}

.events_banner{
    background-image: url(http://assets.codecloudapp.com/sites/574dc4206e6f64350c000000/image/jpeg/undefined/cstc_1920x150_banner_events.jpg);
}

.dine_banner{
    background-image: url(http://assets.codecloudapp.com/sites/574dc4206e6f64350c000000/image/jpeg/undefined/cstc_1920x150_banner_dine.jpg);
}

.jobs_banner{
    background-image: url(http://assets.codecloudapp.com/sites/574dc4206e6f64350c000000/image/jpeg/undefined/cstc_1920x150_banner_events.jpg);
}

.location_banner{
    background-image: url(http://assets.codecloudapp.com/sites/574dc4206e6f64350c000000/image/jpeg/undefined/cstc_1920x150_banner_car.jpg);
}

.chinospectrum-services{
    background-image: url(http://assets.codecloudapp.com/sites/574dc4206e6f64350c000000/image/jpeg/undefined/cstc_1920x150_banner_events.jpg);
}

.chinospectrum-contact-us{
    background-image: url(http://assets.codecloudapp.com/sites/574dc4206e6f64350c000000/image/jpeg/undefined/cstc_1920x150_banner_events.jpg);
}
.chinospectrum-privacy-policy{
    background-image: url(http://assets.codecloudapp.com/sites/574dc4206e6f64350c000000/image/jpeg/undefined/cstc_1920x150_banner_events.jpg);
}






